<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Wallet">
            <button id="connectWallet">Connect Wallet</button>
        </div>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <article>
    <section>
        <img src="/img/federico-giustozzi.jpg" alt="Federico Giustozzi">
    </section>
    <section class="bio">
        Federico Giustozzi is a skilled frontend and backend developer with years of experience in building intuitive and responsive user interfaces. 
        Passionate about web technologies, Federico has a deep knowledge of HTML, CSS, JavaScript, and modern frameworks like node.js and express.js 
        He is committed to delivering user-friendly and visually appealing digital experiences.
    </section>
</article>

<article>
    <section>
        <img src="/img/stefano-brunori.jpg" alt="Stefano Brunori">
    </section>
    <section class="bio">
        Stefano Brunori is an expert in Solidity and blockchain development. With a strong background in decentralized applications, 
        Stefano has contributed to several high-profile projects in the crypto space. He is passionate about smart contracts and creating secure, scalable blockchain solutions.
    </section>
</article>

<article>
    <section>
        <img src="/img/andrea-nisio.jpg" alt="Andrea Nisio">
    </section>
    <section class="bio">
        Andrea Nisio is a backend developer with extensive experience in server-side development and database management. 
        Specializing in building scalable architectures, Andrea has a deep understanding of languages like Node.js, Python, and Java. 
        His focus is on ensuring robust performance and security in backend systems.
    </section>
</article>
    </main>
    <footer>

    </footer>

    
</body>
</html>