<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/about.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Wallet">
            <button id="connectWallet">Connect Wallet</button>
        </div>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <article>
        <section>
        

            <img src="/img/spognardi.jpg">
        </section>
            <section class="bio">
           Noyz Narcos was born in Rome in 1976
From an early age he was a great computer enthusiast, in 2003 he founded TruceKlan a group of web developers specialized in creating arcade games in javascript!
After completing the master's degree in Computer Science, he creates Rocket Arcade together with his friend Er Chicoria another great computer networking enthusiast!
         
        </section>
        </article>
        <article>
            
        </article>
    </main>
    <footer>

    </footer>

    
</body>
</html>