<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/donuts.css">
    
   <!---- <script src="js/donuts.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    
    <header>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <article>
            <section id="buy">
                Buy Donuts!
            </section>
            <section id="swap1">
                <div></div>
                <div></div>
                <div></div>
            </section>
            <section class="trade">
                <div>How much Donuts you want to buy?</div>
                <div><input autocomplete=off type="text" id="input1"></div>
                <div id="risultato1"></div>
            </section>
            <section id="buttonBuy">
                <div><a href="#">Buy!</a></div>
            </section>
        </article>
        
        <article>
            <section id="sell">
                Sell Donuts!
            </section>
            <section id="swap2">
                <div></div>
                <div></div>
                <div></div>
            </section>
            <section class="trade2">
                <div>How much Donuts you want to sell?</div>
                <div><input autocomplete=off type="text" id="input2"></div>
                <div id="risultato2"></div>
            </section>
            <section id="buttonSell">
                <div><a href="#">Sell!</a></div>
            </section>
        </article>
        
    </main>
    <footer>

    </footer>
    <script src="js/buyDonuts.js"></script>
    <script src="js/sellDonuts.js"></script>
</body>

</html>