<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Minesweeper</title>
        <link rel="stylesheet" href="/css/minesweeper.css">
        <script src="/js/minesweeper.js"></script>
    </head>

    <body>
        
        <div id="reload"> RELOAD</div>
        
         <div id="schermo"></div>
       
        <br>

    </body>
    <h1><span id="vittoria"></span></h1>
</html>