<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/nft.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
       
        <article>
            <section></section>
            <section>≅ 35000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
                <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        <article>
            <section></section>
            <section>≅ 24000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
                <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        <article>
            <section></section>
            <section>≅ 42000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
                <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        <article>
            <section></section>
            <section>≅ 12000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
                <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        <article>
            <section><div id="unicorn"></div></section>
            <section>≅ 50000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
                <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        <article>
            <section></section>
            <section>≅ 14000 Donuts</section>
            <section>
                <div><a href="#">Buy</a></div>
               <!-- <div><a href="#">Sell</a></div> -->
            </section>
            <section></section>
        </article>
        
    </main>
    <footer>

    </footer>
    <script src="js/nft.js"></script>
</body>
</html>