<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/quests.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <h1>You can complete 3 Quests for today!</h1>
        <article id="blockchain">
            <div><a href="#">Blockchain</a></div>
            <div></div>
        </article>
        <article id="smart-contract">
            <div><a href="#">Smart Contracts</a></div>
            <div></div>
        </article>
        <article id="ethereum">
            <div><a href="#">Ethereum</a></div>
            <div></div>
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>