<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="/css/score.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="Wallet">
            <button id="connectWallet">Connect Wallet</button>
        </div>
        <div class="logo"> </div>
        <nav>
                <div><a href="/index">Home</a></div>
                <div><a href="/about">About Us</a></div>
                <div><a href="/score">Score</a></div>
                <div><a href="/nft">NFT</a></div>
                <div><a href="/donuts">Buy Donuts</a></div>
                <div><a href="/quests">Quests</a></div>
    
            </nav>
            
        
    </header>
    <main>
        <article>
            <section>
                <div>Nickname</div>
                <div>Tetris</div>
                <div>Snake</div>
                <div>Minesweeper</div>
            </section>
            <section>
                <div>Franchino er criminale</div>
                <div>500</div>
                <div>832</div>
                <div>600</div>
            </section>
            <section>
                <div>er chicoria</div>
                <div>550</div>
                <div>688</div>
                <div>400</div>
            </section>
            <section>
                <div>Duke Montana</div>
                <div>300</div>
                <div>900</div>
                <div>0</div>
            </section>

            <section>
                <div>Mirko Tor Vergata</div>
                <div>500</div>
                <div>500</div>
                <div>0</div>
            </section>
            
        </article>
    </main>
    <footer>

    </footer>
</body>
</html>