:root {
	--LINKCOLOR:#218df3;
  --MENUCOLOR: #4d4d4d;
}

* {
  padding:0;
  margin:0;
}


/* img {
  display:block;
  position:relative;
  margin: auto;
  height:200px;
  top:20px;
}
 */

body {
  background-color: var(--LINKCOLOR);
}


.logo {
  position:relative;

  margin: auto;
  width: 600px;
  height: 350px;
  background-image: url(../img/donut.png);
  background-size:cover; 

}

.Wallet {
  height: 40px;
  padding-top:20px;
  display:flex;
  justify-content: right;
}

#connectWallet {
  border: 3px solid black;
  background-color:darkblue;
  color:white;
  margin-right: 30px;
  border-radius: 40px;
  padding:10px;
}

#connectWallet:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}



nav {
  margin:auto;
  width:70rem;
  border: 4px solid black;
  display: flex;
  background-color: #D06f82;
  justify-content: space-evenly;
  position: relative;
  top:40px;
  border-radius: 40px;
  padding: 20px;
}

nav div {
  border: 2px dashed black;
  border-radius: 30px;
}

nav a {
  text-decoration: none;
  display: block;
  padding:40px;
  color:white;
  font-size: 25px;
}

nav div:hover {
  background-color: #eb830d;
  border: 2px solid black;
  transform: scale(1.2);
  transition: all 0.3s;
}

nav a:hover {
  color:#000000;
}

main {
    border: 4px solid black;
    border-radius: 30px;
    margin:80px auto;
    width:80%;
    min-height: 100px;
    background-color: var(--MENUCOLOR);
}

.bio {

    margin-right:40px;
    text-align: justify;
    font-weight:800;
  font-size:larger;
}

main article:first-child {
  
  display: flex;
  flex-flow: row nowrap;
  gap:50px;
  align-items: center;
  padding-top:50px;
  padding-left:50px;
  margin: 30px, auto;
}

main article:nth-child(2)
{
    margin: 30px, auto;
    padding: 50px;
}

img {
    max-width: 500px;
    max-height: 500px;
}


