body {
    background-image: url('../img/sfondo2.png');
	background-size:cover;
    background-repeat: no-repeat;
    
}

#board {
    border: 5px solid white;
    position:absolute;
    left:27rem;
    top: 2rem;
}

#score {
   border: 5px solid black;
    position:absolute;
    left:5rem;
    top: 9rem;
}