:root {
	--LINKCOLOR:#218df3;
  --MENUCOLOR: #4d4d4d;
}

* {
  padding:0;
  margin:0;
}


/* img {
  display:block;
  position:relative;
  margin: auto;
  height:200px;
  top:20px;
}
 */

body {
  background-color: var(--LINKCOLOR);
}

 .logo {
  position:relative;

  margin: auto;
  width: 600px;
  height: 350px;
  background-image: url(../img/donut.png);
  background-size:cover; 

}

.Wallet {
  height: 40px;
  padding-top:20px;
  display:flex;
  justify-content: right;
}

#connectWallet {
  border: 3px solid black;
  background-color:darkblue;
  color:white;
  margin-right: 30px;
  border-radius: 40px;
  padding:10px;
}

#connectWallet:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}


nav {
  margin:auto;
  width:70rem;
  border: 4px solid black;
  display: flex;
  background-color: #D06f82;
  justify-content: space-evenly;
  position: relative;
  top:40px;
  border-radius: 40px;
  padding: 20px;
}
nav div {

  border: 2px dashed black;
  border-radius: 30px;
 

}


nav a {
  text-decoration: none;
  display: block;
  padding:40px;
  color:white;
  font-size: 25px;
}

nav div:hover {
  background-color: #eb830d;
  border: 2px solid black;
  transform: scale(1.2);
  transition: all 0.3s;
}

nav a:hover {
  color:#000000;
}

main article {
  border: 4px solid black;
  border-radius: 30px;
  margin:80px auto;
  width:60rem;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--MENUCOLOR);

  align-items: center;
}

main article section {
  width: 80%;
  margin:40px;
  height: 200px;
  border: 4px solid #000;
  display: flex;
  justify-content: space-around;
  padding:20px;

}

main article .sec1 {
  background-color: green;
}

main article .sec2 {
  background-color: red;
}

main article .sec3 {
  background-color: blue;
}

main article section .name {
  display: grid;
  place-content: center;
  
}

main article section a {
  text-decoration: none;
  padding:30px;
  color:white;
  font-size: 40px;
  
}




main article section a:hover {

    transform: scale(1.5);
    transition: all 2s;
    animation-name:slide;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.01s;
    animation-iteration-count:infinite;
}

@keyframes slide {
	0% {
		
	}
	33% {
		color:yellow;

	}
	66% {
		color:black;

	}
	100% {
		
    color:white;

	}
}


main article section .box {
  width:200px;
  
  

  height: 200px;
  
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.01s;
  animation-iteration-count:infinite;
}

main article .snakeButton
{
  margin-top:40px;
  padding:20px;
}


.snake {
  background-image: url(../img/snake.png);
  background-size:cover; 
  animation-name:snake;
}

.bomb {
  background-image: url(../img/bomb.png);
  background-size:cover;
  animation-name:bomb;

}

.tetris {
  background-image: url(../img/tetris.png);
  background-size:cover;
  animation-name:tetris;
}


@keyframes tetris {
	0% {
		transform : translateX(0);
	}
	33% {
		transform: translateY(15px) ;
	}
	66% {
		transform: translateX(80px) ;
	}
	100% {
		transform: translateX(0);


	}

}


@keyframes snake {
	0% {
		transform : translateX(0);
	}
	33% {
		transform: translateX(100px) ;
	}
	66% {
		transform: translateX(-100px) ;
	}
	100% {
		transform: translateX(0);


	}

}

  @keyframes bomb {
    0% {
      transform : translateX(0);
    }
    20% {
      transform: translateX(100px) rotate(100deg);
    }
    40% {
      transform: translateX(0px) ;
    }
    60% {
      transform: translateX(-100px) rotate(-100deg) ;
    }
    80% {
      transform: translateX(0px) rotate(100deg) ;
    }
  
  
    }

